.modal-example{
  text-align:center;
  padding:20px;
}
h4{
  color: red;
}

label{
   width: 300px;
  display: inline-block; 
  margin:5px 0px;
}


.submit-button{
  margin-top:10px;
  padding:5px 20px;
}