
/* *************************** */
/* search box */
/* **************** */
#search{
    margin: 0px;
  padding: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Lato' !important;
}
.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
   
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #5666f5;
  padding-right: 40px;
  color:rgb(2, 1, 0);
   box-sizing: border-box;
}
.input-search::placeholder{
  color:#050101;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#130f40 ;
  background-color:transparent;
  pointer-events: painted;  
  top: 50%;
 
}
#btnsearch{
    margin-left:20%;

}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(15, 8, 8, 0.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgb(8, 4, 4);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
